---
layout: feature
title: Premium Support
description: GitLab's Premium Support feature, included in the GitLab Enterprise Edition Premium plan, lets you focus on building your product not on debugging your tools.
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 Premium Support
        %h3#ci-subt Focus on building your product not on debugging your tools.
  .sub-wrapper
    .container

      .row.advantages
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Overview
          %ul
            %li
              The best tools are intuitive. Simply working as expected. But no tool is perfect. There
              will be times when you'll need to troubleshoot, or ask a real person important questions.
              Premium Support gives your team a solution for all of your upgrading, scaling, and troubleshooting needs.
            %li
              Premium Support is included in the GitLab Enterprise Edition Premium plan.
      %hr.divider/

      .row
        .col-md-3.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("premium-support")
        .col-xs-12.col-md-7
          %h2 What's included?
          %ul
            %li
              %b Tiered Support responses:
              Our team of highly skilled support engineers will help with all of your support needs, based on the priorities below.
              %table
                %tbody
                  %tr
                    %td Production Application Unavailable (Emergency)
                    %td 30 Minutes
                  %tr
                    %td Highly Degraded
                    %td 4 hours
                  %tr
                    %td Medium Impact 
                    %td 8 hours
                  %tr
                    %td Low Impact
                    %td 24 hours
            %li
              %b 24x7 emergency support:
              GitLab responds within 30 minutes to any emergency.
            %li
              %b Support for High Availability (HA):
              A Support Engineer will help you identify your specific HA needs and map out an architecture.
            %li
              %b Live upgrade assistance:
              Schedule an upgrade time with GitLab. We’ll host a live screen share session to help you through the process
              and ensure there aren't any surprises.
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Benefits
          %ul
            %li
              %b Fast:
              Our support priority levels makes sure that we are focusing on the right issues at the right time.
            %li
              %b Technical:
              Our Support Engineers have strong technical backgrounds and are well-versed on GitLab. They'll work with you directly
              to understand your unique challenges and find the best solutions.
            %li
              %b Reliable:
              Our support team is spread out across the world, with members on every continent.
              There will always be someone available to help, regardless of your time zone.
        .hidden-xs.hidden-sm.col-md-4
          %img.gitlab-raccoon-dog-image.hidden-xs{alt: "", src: "/images/logo.png"}/
      %hr.divider/

      .row
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Definitions of Support Impact
          %ul
            %li
              %b Urgent - GitLab is unavailable or completely unusable (Emergency)
              If a GitLab server or cluster is not available, or otherwise unusable, an emergency ticket can be filed and our On-Call Support Engineer will respond within 30 minutes. Example: GitLab showing 502 errors for all users.
            %li        
              %b High - GitLab is Highly Degraded (4 hours)
              Significant Business Impact. Important GitLab features are unavailable, or extremely slowed, with no acceptable workaround. Implementation or production use of GitLab is continuing; however, there is a serious impact on productivity. Example: CI Builds are erroring and not completing successfuly, and the software release process is significantly affected.
            %li
              %b Normal - There appears to be a bug preventing normal GitLab operation (12 hours)
              Some Business Impact. Important GitLab features are unavailable, or somewhat slowed, but a workaround is available. GitLab use has a minor loss of operational functionality, regardless of the environment or usage. Example: A Known bug impacts the use of GitLab, but a workaround is successfully being used as a temporary solution.
            %li
              %b Low - Questions or Clarifications around features or documentation or deployments (24 hours)
              Minimal Business Impact. Information, an enhancement, or documentation clarification is requested, but there is no impact on the operation of GitLab. Implementation or production use of GitLab is continuing and work is not impeded. Example: A question about enabling ElasticSearch.

  = partial "includes/features/gitlab-ee-add-product", locals: { feature_name: "Premium Support" }
