---
layout: default
title: Open Core
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.open_core, solution_name: "open_core" }
